[test]
EqualPaths.Empty                    =  1
EqualPaths.RootOnly                 =  .5
EqualPaths.RootLeft                 =  1
EqualPaths.RootRight                =  1
EqualPaths.RootFull1                =  .5
EqualPaths.TrueTest1                =  .5
EqualPaths.TrueTest2                =  .5
EqualPaths.TrueTest3                =  .5
EqualPaths.TrueTest4                =  .5
EqualPaths.FalseTest1               =  1
EqualPaths.FalseTest2               =  .5
EqualPaths.FalseTest3               =  .5
